<form id="editPodcast" method="POST" class="pure-form pure-form-aligned pure-u-1-5" action="/podcast/update/<%= id %>" >
	<div class="backgroundImage" style="background-image:url(/<%= typeof(image) != typeof(undefined) ? image : '' %>)"></div>
	<input type="hidden" name="_csrf" value="<%= _csrf %>" />
	
	<div class="pure-control-group">
		<input type="text" data-toggle="dropdown" data-toggle-target=".dropdown-menu" name="radioshow" placeholder="Radioshow" value="<%= typeof(radioshow) != typeof(undefined) ? radioshow.title : '' %>" class="pure-u-1"/>
		<ul class="dropdown-menu pure-u-1" role="menu"></ul>
	</div>	


	<div class="pure-control-group">
		<input type="text" name="title" placeholder="Enter podcast title" value="<%= title %>" class="pure-u-1"/>
	</div>

	<div class="pure-control-group">
		<input type="text" name="artist" placeholder="Enter artist" value="<%= artist %>" class="pure-u-1"/>
	</div>

	<div class="pure-control-group">
		<input type="number" min="1800" max="<% var date = new Date() ; %><%= date.getFullYear()+1%>" name="year" placeholder="Enter year" value="<%= year %>" class="pure-u-1"/>
	</div>

	<div class="pure-control-group">
		<textarea name="tags"  placeholder="Enter tags" class="pure-u-1"><%=(tag||[])
																			.map(function(t){
																				return "["+t.title+"]";
																			})
																			.join(" ") %></textarea>
	</div>

	<div class="pure-control-group">
		<audio controls>
			<source src="<%= address %>" type="audio/mpeg">
			Your browser does not support the audio element.
		</audio>
	</div>
	
	<div class="pure-control-group">
		<input type="file" name="background" accept="image/x-png, image/gif, image/jpeg" />
	</div>

	<div class="pure-control-group">
		<input type="submit" value="Submit" class="pure-button pure-button-primary"/>
		<button id="addPodcast" class="pure-button">Add Podcast</button>
	</div>
</form>

<script type="text/javascript">
	$("button#addPodcast")
	.on("click", function(event){
		$("form#editPodcast")
		.replaceWith(window.OOGRE.templates("/podcast/add"));
		return false;
	});

	var Dropdown = window.OOGRE.UI.dropdown;
	var dropdown = new Dropdown($("input[type='text'][data-toggle='dropdown']"))
	.on("inject", function(podcasts){
		return	podcasts
				.map(function(radioshow){
					return "<li><a href='#'' data-value='"+radioshow.id+"' data-title='"+radioshow.title+"'>"+radioshow.title+"</a></li>";
				})
				.join("");
	})
	.on("inputFeed", function(event){
		$(event.target).removeAttr("data-value");
		$.ajax({
			url : "/radioshow/find",
			type : "get",
			data : {
				where : JSON.stringify({ 
					title : {
						startsWith : event.value
					}
				}),
				limit : JSON.stringify("10"),
			},
			dataType : "JSON"
		})
		.done(function(radioshows){
			dropdown.update(radioshows);
		});
	})
	.on("select", function(event){
		var $origin = $ (event.origin)
		$(event.target)
		.val($origin.attr("data-title"))
		.attr("data-value", $origin.attr("data-value"));
	});


	/*
	$("form#editPodcast")
	.on("submit", function(event){
		var _csrf = event.target._csrf.value;
		var radioshow = 
		

		if ( event.target.checkValidity && !event.target.checkValidity()) {
			return false;
		}

		$.ajax({
			url : event.target.action,
			type : event.target.method,
			data : {
				_csrf : _csrf,
				address : address
			},
			dataType : "JSON"
		})
		.done(function(data){
	});*/




</script>