<form id="editPodcast" method="POST" class="pure-form pure-form-aligned pure-u-1-5" action="/podcast/update/<%= id %>" >
	<div class="backgroundImage" style="background-image:url(/<%= typeof(image) != typeof(undefined) ? image : '' %>)"></div>
	<input type="hidden" name="_csrf" value="<%= _csrf %>" />
	
	<div class="pure-control-group">
		<input type="text" data-toggle="dropdown" data-toggle-target=".dropdown-menu" name="radioshow" placeholder="Radioshow" value="<%= typeof(radioshow) != typeof(undefined) ? radioshow.title : '' %>" class="pure-u-1"/>
		<ul class="dropdown-menu" role="menu" class="pure-u-1"></ul>
	</div>	


	<div class="pure-control-group">
		<input type="text" name="title" placeholder="Enter podcast title" value="<%= title %>" class="pure-u-1"/>
	</div>

	<div class="pure-control-group">
		<input type="text" name="artist" placeholder="Enter artist" value="<%= artist %>" class="pure-u-1"/>
	</div>

	<div class="pure-control-group">
		<input type="number" min="1800" max="<% var date = new Date() ; %><%= date.getFullYear()+1%>" name="year" placeholder="Enter year" value="<%= year %>" class="pure-u-1"/>
	</div>

	<div class="pure-control-group">
		<textarea name="tags"  placeholder="Enter tags" class="pure-u-1"><%=(tag||[])
																			.map(function(t){
																				return "["+t.title+"]";
																			})
																			.join(" ") %></textarea>
	</div>

	<div class="pure-control-group">
		<audio controls>
			<source src="<%= address %>" type="audio/mpeg">
			Your browser does not support the audio element.
		</audio>
	</div>
	
	<div class="pure-control-group">
		<input type="file" name="background" accept="image/x-png, image/gif, image/jpeg" />
	</div>

	<div class="pure-control-group">
		<input type="submit" value="Submit" class="pure-button pure-button-primary"/>
		<button id="addPodcast" class="pure-button">Add Podcast</button>
	</div>
</form>

<script type="text/javascript">
	$("button#addPodcast")
	.on("click", function(event){
		$("form#editPodcast")
		.replaceWith(window.OOGRE.templates("/podcast/add"));
		return false;
	});
/*
	$("form#editPodcast")
	.on("submit", function(event){
		var _csrf = event.target._csrf.value;
		var radioshow = 
		

		if ( event.target.checkValidity && !event.target.checkValidity()) {
			return false;
		}

		$.ajax({
			url : event.target.action,
			type : event.target.method,
			data : {
				_csrf : _csrf,
				address : address
			},
			dataType : "JSON"
		})
		.done(function(data){
	});*/
	$(".dropdown-menu").hide();



	window.OOGRE.UI.dropdown.eventsHandler["select"]
	.push(function(event){
		$(event.target)
		.val(event.title)
		.attr("data-value", event.value);
	});
	$("input[type='text'][data-toggle='dropdown']")
	.on("keyup", function(event){
		var self = this;
		var list =	$(this).attr("data-toggle-target");
		var value = $(this).val()||"";

		$(self).removeAttr("data-value");

		if(!value){
			$($(self).attr("data-toggle-target"))
			.empty()
			.hide();
			$parent.prev("input").removeClass("open");
		}
		else if(event.keyCode != 40 && event.keyCode != 38){
			$.ajax({
				url : "/radioshow/find",
				type : "get",
				data : {
					where : JSON.stringify({ 
						title : {
							startsWith : value
						}
					}),
					limit : JSON.stringify("10"),
				},
				dataType : "JSON"
			})
			.done(function(radioshows){
				window.OOGRE.UI.dropdown.build(list, radioshows)
			});
		}
		else{
			window.OOGRE.UI.dropdown.keyAction(list, event.keyCode);
		}
	});
	



</script>